@use postcss-short;

.button {
  font: 600 16px/22px Open Sans;
  color: #fff;
  size: 100% 40px;
  border-radius: 4px;
  background-color: #0070e0;
  text-align: center;
  cursor: pointer;
  transition: background linear 0.1s;

  &:disabled {
    cursor: not-allowed;
    background-color: #cdcecf !important;
  }

  &:hover {
    background-color: color(#0070e0 shade(10%));
  }

  &:active {
    background-color: color(#0070e0 shade(20%));
  }
}
