@use postcss-short;

.profile-bottom-form {
  height: 100%;
  position: relative;

  & input {
    height: 40px;
    margin: 0;
  }
}

.form-buttons {
  position: absolute;
  bottom: 0;
}

.form-submit-button {
  composes: button from '../../common/Button/styles.css';
  width: 160px;
  display: inline-block;
}

.form-cancel-button {
  composes: button from '../../common/Button/styles.css';
  width: 100px;
  margin: 0 5px 0 0;
  display: inline-block;
  font-weight: normal;
  background-color: transparent;
  color: #0070e0;

  &:hover {
    background-color: transparent;
    text-decoration: none;
  }

  &:active {
    background-color: transparent;
  }
}

.change-password {
  padding: 15px 30px 30px;
  size: 100%;
  position: absolute 0 * * 0;
  transition: 0.2s linear opacity;
}
