@use postcss-inline-svg;
@use postcss-short;

.logo {
  display: inline-block;
  size: 60px 16px;
  background: svg-load('./svg/jincor.svg');
  background-size: contain;
  background-repeat: no-repeat;
}
