@use postcss-short;
@use postcss-center;
@use postcss-inline-svg;

.search {
  position: relative;
  width: 100%;
}

.search-field {
  height: 40px;
  padding: 10px 40px;
  letter-spacing: -0.5px;
}

.clear-value {
  size: 30px;
  background-image: svg-load('./svg/remove.svg');
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: 50%;
  border-radius: 2px;
  cursor: pointer;
  top: center;
  right: 5px;
  transition: linear 0.1s background-color;

  &:hover {
    background-color: #f9f9f9;
  }
}

.search-icon {
  top: center;
  left: 7px;
}
