@use postcss-short;

/*User avatar*/
.user-avatar {
  display: inline-block;
  size: 36px;
  border-radius: 4px;
  background-color: #d8d8d8;
  overflow: hidden;
  cursor: pointer;

  & > img {
    size: 36px;
  }
}

.user-avatar-empty {
  size: 36px;
  border-radius: 4px;
  font: semibold 16px/36px 'Open Sans';
  text-align: center;
  color: #fff;
}
