@use postcss-short;

.overlay {
  position: fixed 0 0 0 0;
  z-index: 10000;
  overflow-y: scroll;
  background: rgba(0, 0, 0, 0.5);
}

.popup {
  margin: 105px auto 50px;
}

.close {
  position: absolute;
  top: 35px;
  right: 35px;
  z-index: 10000;
  cursor: pointer;
}
