@use postcss-short;
@use postcss-center;
@use postcss-clearfix;

/* App */
.app-layout {
  position: relative;
}

.container {
  width: 1059px;
  margin: 0 auto;
  clear: fix;
}

/* Header */
.header {
  position: relative;
  height: 50px;
  padding: 6px 0;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
}

.module-name {
  font-size: 18px/20px;
  color: #9da0a4;
  display: inline-block;
}

.pull-left {
  float: left;
}

.logo {
  margin-right: 15px;
}

.logo,
.module-name {
  vertical-align: middle;
}

.avatar-mock {
  size: 36px;
  border-radius: 4px;
  background-color: #fbfbfb;
  float: right;
}

.messenger {
  height: calc(100vh - 50px);
  width: 1059px;
  margin: 0 auto;
}

.rooms-wrapper {
  width: 367px;
  float: left;
  height: inherit;
  border-right: 1px solid #dbdfe4;
}

.messages-wrapper {
  float: left;
  height: inherit;
  width: 692px;
}
