body {
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.4px;
  color: #000000;
}

a {
  color: #0070e0 !important;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

div, header, section, aside {
  box-sizing: border-box;
}

li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

button {
  border: 0px;
  outline: 0px;
}