.messenger {
  height: calc(100vh - 50px);
  width: 1059px;
  margin: 0 auto;
}

.rooms-wrapper,
.messages-wrapper {
  float: left;
  height: inherit;
}

.rooms-wrapper {
  width: 367px;
  border-right: 1px solid #dbdfe4;
}

.messages-wrapper {
  width: 692px;
}

.messages-area {}
