.messenger {
  height: calc(100vh - 60px);
}

.dialogs,
.messages {
  float: left;
  height: inherit;
}

.dialogs {
  width: 360px;
  border-right: 1px solid #dbdfe4;
}

.messages {
  width: 750px;
}
