@use postcss-short;

.message {
  position: relative;
  cursor: text;
  padding: 5px 40px 5px 100px;
  letter-spacing: -0.2px;
  transition: background-color linear 0.1s;

  &::before {
    content: attr(data-timestamp);
    position: absolute 7px * * 42px;
    font-size: 12px/17px;
    color: #9da0a4;
    opacity: 0;
    transition: opacity linear 0.1s;
  }

  &:hover {
    background-color: #f3f5f7;
  }

  &:hover::before {
    opacity: 1;
  }
}

.content {
  position: relative;
  font-size: 14px/20px;
  color: #333;
  word-break: break-word;
}
