@use postcss-short;
@use postcss-clearfix;
@use postcss-center;

.dialog {
  position: relative;
  clear: fix;
  padding: 7px 30px 8px 7px;
  transition: background ease-out 0.2s;
  cursor: default;

  &.selected {
    background: #e0e6eb;
  }

  &:hover {
    background: #f3f5f7;
    cursor: pointer;
  }
}

.avatar {
  width: 60px;
}

.body {
  width: 270px;
  padding-left: 10px;
}

.avatar,
.body {
  float: left;
}

.fullname {
  display: block;
  font: 600 14px/19px Open Sans;
  margin: 2px * 1px;
  letter-spacing: -0.2px;
  color: #333;
}

.preview {
  position: relative;
  height: 36px;
  word-break: break-word;
}

.message {
  top: center;
  font-size: 13px/18px;
  letter-spacing: -0.2px;
  color: #7f7f7f;
  margin: 0;

  & .you {
    color: #333;
    margin-right: 5px;
  }
}

.date {
  position: absolute 12px 30px * *;
  font-size: 12px/17px;
  color: #9da0a4;
  letter-spacing: -0.2px;
}

.unread {
  size: 7px;
  border-radius: 50%;
  background-color: #0070e0;
  position: absolute;
  margin: 5px -13px;
}

.new-message {
  size: 12px;
  border-radius: 50%;
  background-color: #0070e0;
  position: absolute * * * -17px;
  top: center;
}
